<div class="container">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-name">Classer</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink=".">Test</a>
                <a mat-list-item routerLink=".">Test</a>
                <a mat-list-item routerLink=".">Test</a>
                <a mat-list-item routerLink=".">Test</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="content">
            <div *ngFor="let class of classes | async">
                <div class="class" [style.padding-top.px]="class.duration * 20"
                    [style.padding-bottom.px]="class.duration * 20">
                    {{ class.name }}
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
