<mat-toolbar class="toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer-3px"></span>
    <span>My App</span>
</mat-toolbar>

<mat-drawer-container class="nav-container" style="height: 100%">
    <mat-drawer class="nav-sidenav" #drawer>
        <p>sidenav</p>
    </mat-drawer>

    <div class="nav-sidenav-content">
        <div *ngFor="let class of classes | async">
            <div class="class" [style.padding-top.px]="class.duration * 20"
                [style.padding-bottom.px]="class.duration * 20">
                {{ class.name }}
            </div>
        </div>
    </div>

</mat-drawer-container>
