.class {
    margin-bottom: 1px;
    padding: 10px;
    border-style: solid;
    background-color: #ff8585;
    border-color: #e86161;
}

.spacer-3px {
    width: 3px;
}

.nav-sidenav-content {
    height: 100%;
    margin-top: 65px;
}

.nav-sidenav {
    padding: 20px;
}

.toolbar {
    position: fixed;
    z-index: 2;
    height: 65px;
}
